@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&display=swap');

:root {
  --primary-clr: #000000;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cause", cursive;
  background-color: black;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 50px;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 130px;
  padding: 0 10%;
  background-color: black;
}

.logo img {
  height: 70px;
  width: 70px;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav__links li a {
  color: white;
  text-decoration: none;
  font-size: 21px;
  font-weight: 300;
  position: relative;
}

.nav__links li a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 1px;
  background: white;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.nav__links li a:hover::after {
  width: 60%;
}


/* NOTION LAYOUT */
.notion-app {
  display: flex;
  height: calc(100vh - 130px);
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  border-right: 2px solid white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#new-page {
  background: white;
  color: black;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
}

#page-list {
  list-style: none;
  overflow-y: auto;
}

#page-list li {
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

#page-list li.active {
  background: white;
  color: black;
}

/* EDITOR */
.editor {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

#page-title {
  font-size: 2rem;
  background: transparent;
  border: none;
  outline: none;
  color: white;
}

#page-content {
  margin-top: 20px;
  padding-top: 20px;
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  font-size: 1.1rem;
  color: white;
  line-height: 1.6;
}

/* PAGE TAB WITH DELETE */
#page-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.page-title {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Trash button */
.delete-page {
  opacity: 0;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

#page-list li:hover .delete-page {
  opacity: 1;
}

/* Prevent click conflict */
.delete-page:hover {
  color: red;
}

#empty-state {
  flex: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #aaa9a9;
  text-align: center;
}

#empty-state h2 {
  font-weight: 200px;
  font-size: 2rem;
  margin-bottom: 10px;
}

#empty-state p {
  font-weight: 200px;
  font-size: 1rem;
}