@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&display=swap');

:root {
  --primary-clr: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cause", cursive;
}
/* nice scroll bar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  border-radius: 50px;
}

body {
  min-height: 100vh;
  display: block;
  background-color: #000000;
  color: white;;
  padding: 0;
  margin: 0;
}

/* navagation bar */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 130px;
  background-color: #000;
  padding: 0 10%;
}

/* LOGO */
.logo img {
  height: 70px;
  width: 70px;
}

/* NAVIGATION */
nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__links {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 40px;
  list-style: none;
}

.nav__links li {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__links li a {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  text-decoration: none;
  font-size: 21px;
  font-weight: 300;
  padding: 0 10px;
  transition: color 0.3s ease;
}

.nav__links li a:hover {
  color: #b8bebe;
}


/* APP LAYOUT */
.app-container {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 700;
}

/* BUTTON */
#add-note {
  background: #ffffff;
  color: #000000;
  border: none;
  padding: 10px 18px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: 0.2s;
}

#add-note:hover {
  opacity: 0.8;
}

/* NOTES GRID */
#notes {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

/* NOTE STYLES */
.note {
  background: #000000;
  border: 2px solid #ffffff;
  width: 95%;
  padding: 14px;
  border-radius: 6px;
  position: relative;
  box-shadow: 2px 2px 0 #ffffff;
}

.note textarea {
  width: 100%;
  height: 100px;
  border: none;
  resize: none;
  font-size: 1rem;
  outline: none;
  background: transparent;
  color: #ffffff;
}

.note button {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #ffffff;
}

/* DELETE BUTTON */
.note button.delete {
  color: #900;
}