@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&display=swap');

:root {
  --primary-clr: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cause", cursive;
}
/* nice scroll bar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  border-radius: 50px;
}

body {
  min-height: 100vh;
  display: block;
  background-color: #000000;
  padding: 0;
  margin: 0;
}

/* navagation bar */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 130px;
  background-color: #000;
  padding: 0 10%;
}

/* LOGO */
.logo img {
  height: 70px;
  width: 70px;
}

/* NAVIGATION */
nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__links {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 40px;
  list-style: none;
}

.nav__links li {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__links li a {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  text-decoration: none;
  font-size: 21px;
  font-weight: 300;
  padding: 0 10px;
  transition: color 0.3s ease;
}

.nav__links li a:hover {
  color: #b8bebe;
}

