@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&display=swap');

:root {
  --primary-clr: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cause", cursive;
  background-color: black;
}

/* nice scroll bar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  border-radius: 50px;
}

/* the body of the about page */
.aboutapp {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.title img {
    width: 150px;
    height: 150px;
}

.title h1 {
    font-size: 90px;
    font-family: "Cause", cursive;
    font-weight: 400;
}

.text {
  margin-top: 700px;
  margin-bottom: 300px;
}

.text {
  transform: translateY(-100px);
}

.aboutbanner img {
    width: 1100px;
    height: 500px;
    object-fit: fill;
    margin-left: auto;
    margin-right: auto;
}

/* navagation bar */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  background-color: #000;
  padding: 0 10%;
}

/* LOGO */
.logo img {
  height: 40px;
}

/* NAVIGATION */
nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__links {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 40px;
  list-style: none;
}

.nav__links li {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__links li a {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  padding: 0 10px;
  transition: color 0.3s ease;
}

.nav__links li a:hover {
  color: #b8bebe;
}
